.page {
  /* position: relative; */
  width: 750rpx;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  padding-top: 0;
}

.box1 {
 /* background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4d3649d88e6056c407c92e053917c94e1ed659b60c67e900e66636ed5cb14db1)
    no-repeat fixed top; */
	background: url(../../static/images/tx.png) repeat fixed center;
	background-color: #2B3851;
}

.outer2 {
  height: 414rpx;
  width: 750rpx;
}


.info1 {
  width: 58rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30rpx;
  letter-spacing: -0.23999999463558197px;
  font-family: Helvetica;
  line-height: 40rpx;
  text-align: left;
}

.label1 {
  width: 32rpx;
  height: 32rpx;
  margin: 4rpx 0 0 2rpx;
}

.box2 {
  height: 42rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4384bdb1fc01bace2dd7a85ed046e693c1d7791f59a3658529f666a8a4fe4aad)
    0rpx 0rpx no-repeat;
  margin-left: 438rpx;
  width: 82rpx;
  padding-left: 4rpx;
}

.bd1 {
  width: 36rpx;
  height: 22rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngca0c9780649fc64a60db5eef0c41063f779e80113752a3f6a4e5122561af8aa4)
    0rpx -2rpx no-repeat;
}

.icon1 {
  width: 54rpx;
  height: 40rpx;
  margin-left: 2rpx;
}

.section2 {
  width: 682rpx;
  height: 60rpx;
  margin: auto;
}
.input-search{
	
}

.label2 {
  width: 60rpx;
  height: 60rpx;
}

.icon2 {
  width: 30rpx;
  height: 30rpx;
  margin: 18rpx 0 0 74rpx;
}

.txt1 {
  width: 120rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.31);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: center;
  margin: 14rpx 0 0 42rpx;
}

.icon3 {
  width: 40rpx;
  height: 40rpx;
  margin: 8rpx 0 0 316rpx;
}


.box3 {
  width: 630rpx;
  margin: 30rpx auto 10rpx auto;
}

.mod1 {
  flex: 1;
  height: 70rpx;
}

.icon4 {
  width: 62rpx;
  height: 56rpx;
  margin: auto;
}

.icon5 {
  width: 62rpx;
  height: 62rpx;
  margin: 4rpx 0 0 124rpx;
}
.my-box5{
	height: 200rpx;
	text-align: center;
}

.box4 {
  width: 624rpx;
  height: 40rpx;
  margin: 10rpx 0 0 62rpx;
}

.txt2 {
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 24rpx;
  line-height: 40rpx;
  text-align: center;
}

.txt3 {
  width: 48rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 24rpx;
  letter-spacing: -0.2818180024623871px;
  line-height: 40rpx;
  text-align: right;
}

.info3 {
  width: 48rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 24rpx;
  letter-spacing: -0.2818180024623871px;
  line-height: 40rpx;
  text-align: center;
}

.box5 {
  position: relative;
  width: 700rpx;
  height: 300rpx;
  border-radius: 4px;
  overflow: hidden;
  align-self: center;
  /* margin-top: 26rpx; */
}

.pic1 {
  width: 700rpx;
  margin: auto;
}



.txt4 {
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 28rpx;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 40rpx;
  text-align: right;
  align-self: flex-start;
  margin: 42rpx 0 0 38rpx;
}

.box6 {
  width: 670rpx;
  /* height: 210rpx; */
  margin: 24rpx 0 0 38rpx;
  flex-direction: row;
  flex-wrap: wrap;
}

.bd2 {
  height: 210rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc714ac831da43f34896f1c341c00372f2e496810bf9ac0fe658cece36efd7891)
    100% no-repeat;
  width: 210rpx;
  padding: 0 0 2rpx 8rpx;
}

.layer1 {
  width: 186rpx;
  height: 28rpx;
}

.label4 {
  width: 14rpx;
  height: 16rpx;
  margin-top: 6rpx;
}

.info4 {
  width: 50rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: left;
  margin-left: 4rpx;
}

.label5 {
  width: 18rpx;
  height: 16rpx;
  margin: 6rpx 0 0 60rpx;
}

.info5 {
  width: 36rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
  margin-left: 4rpx;
}

.bd3 {
  z-indexbak: 52;
  height: 210rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng1f2fffdc4b516bf05b99fbbd32c3cfbf5f35bbdd7b49d8207baae548fa97a368)
    100% no-repeat;
  width: 210rpx;
  padding: 0 0 2rpx 8rpx;
}

.section4 {
  z-indexbak: auto;
  width: 186rpx;
  height: 28rpx;
}

.label6 {
  z-indexbak: 55;
  width: 14rpx;
  height: 16rpx;
  margin-top: 6rpx;
}

.txt5 {
  z-indexbak: 59;
  width: 50rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: left;
  margin-left: 4rpx;
}

.icon6 {
  z-indexbak: 60;
  width: 18rpx;
  height: 16rpx;
  margin: 6rpx 0 0 60rpx;
}

.txt6 {
  width: 36rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
  margin-left: 4rpx;
}

.bd4 {
  height: 210rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2cb083547476afca329e406cdd438ef5f327798ebcf5b20a092789a452669f59)
    100% no-repeat;
  width: 210rpx;
  padding: 0 0 2rpx 8rpx;
}

.group1 {
  width: 186rpx;
  height: 28rpx;
}

.icon7 {
  z-indexbak: 72;
  width: 14rpx;
  height: 16rpx;
  margin-top: 6rpx;
}

.txt7 {
  z-indexbak: 76;
  width: 50rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: left;
  margin-left: 4rpx;
}

.icon8 {
  z-indexbak: 77;
  width: 18rpx;
  height: 16rpx;
  margin: 6rpx 0 0 60rpx;
}

.txt8 {
  z-indexbak: 84;
  width: 36rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
  margin-left: 4rpx;
}

.box7 {
  z-indexbak: auto;
  width: 680rpx;
  height: 34rpx;
  margin: 14rpx 0 0 38rpx;
}

.txt9 {
  z-indexbak: 85;
  /* width: 120rpx; */
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  /* text-align: right; */
}

.word1 {
  z-indexbak: 86;
  display: block;
  overflow-wrap: break-word;
  color: rgba(157, 157, 157, 1.0);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
}

.word2 {
  z-indexbak: 87;
  width: 216rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
  margin-left: 42rpx;
}

.box8 {
  z-indexbak: auto;
  width: 550rpx;
  height: 28rpx;
  margin: 4rpx 0 0 44rpx;
}

.info6 {
  z-indexbak: 88;
  width: 92rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 20rpx;
  letter-spacing: -0.23484833538532257px;
  line-height: 28rpx;
  text-align: right;
}

.word3 {
  z-indexbak: 89;
  width: 92rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 20rpx;
  letter-spacing: -0.23484833538532257px;
  line-height: 28rpx;
  text-align: right;
}

.info7 {
  z-indexbak: 90;
  width: 92rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 20rpx;
  letter-spacing: -0.23484833538532257px;
  line-height: 28rpx;
  text-align: right;
}

.box9 {
  z-indexbak: auto;
  width: 670rpx;
  height: 210rpx;
  margin: 30rpx 0 0 34rpx;
}

.bd5 {
  z-indexbak: 93;
  height: 210rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2b999d608ddf0e6953c53ea1c862b2a9899b8a56925d7f544e65e3e9b4a27811)
    100% no-repeat;
  width: 210rpx;
  padding: 0 0 2rpx 8rpx;
}

.bd6 {
  z-indexbak: auto;
  width: 186rpx;
  height: 28rpx;
}

.label7 {
  z-indexbak: 96;
  width: 14rpx;
  height: 16rpx;
  margin-top: 6rpx;
}

.txt10 {
  z-indexbak: 100;
  width: 50rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: left;
  margin-left: 4rpx;
}

.label8 {
  z-indexbak: 101;
  width: 18rpx;
  height: 16rpx;
  margin: 6rpx 0 0 60rpx;
}

.word4 {
  z-indexbak: 108;
  width: 36rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
  margin-left: 4rpx;
}

.bd7 {
  z-indexbak: 110;
  height: 210rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng48dd6b479e98b336f26d3a6f6655fd27d6173f29f46b3054b217e852b37392c7)
    100% no-repeat;
  width: 210rpx;
  padding: 0 0 2rpx 8rpx;
}

.layer2 {
  z-indexbak: auto;
  width: 186rpx;
  height: 28rpx;
}

.icon9 {
  z-indexbak: 113;
  width: 14rpx;
  height: 16rpx;
  margin-top: 6rpx;
}

.word5 {
  z-indexbak: 117;
  width: 50rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: left;
  margin-left: 4rpx;
}

.icon10 {
  z-indexbak: 118;
  width: 18rpx;
  height: 16rpx;
  margin: 6rpx 0 0 60rpx;
}

.info8 {
  z-indexbak: 125;
  width: 36rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
  margin-left: 4rpx;
}

.bd8 {
  z-indexbak: 127;
  height: 210rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga46644e2b842b53d4cd00e2dbd80444a1b6749a4a5ddec40cc07f1168940da97)
    100% no-repeat;
  width: 210rpx;
  padding: 0 0 2rpx 8rpx;
}

.section5 {
  z-indexbak: auto;
  width: 186rpx;
  height: 28rpx;
}

.icon11 {
  z-indexbak: 130;
  width: 14rpx;
  height: 16rpx;
  margin-top: 6rpx;
}

.info9 {
  z-indexbak: 134;
  width: 50rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: left;
  margin-left: 4rpx;
}

.icon12 {
  z-indexbak: 135;
  width: 18rpx;
  height: 16rpx;
  margin: 6rpx 0 0 60rpx;
}

.info10 {
  z-indexbak: 142;
  width: 36rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
  margin-left: 4rpx;
}


.word6 {
  z-indexbak: 143;
  width: 120rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: right;
}

.word7 {
  z-indexbak: 144;
  width: 168rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
  margin-left: 106rpx;
}

.word8 {
  z-indexbak: 146;
  width: 92rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 20rpx;
  letter-spacing: -0.23484833538532257px;
  line-height: 28rpx;
  text-align: right;
}

.txt12 {
  z-indexbak: 147;
  width: 92rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 20rpx;
  letter-spacing: -0.23484833538532257px;
  line-height: 28rpx;
  text-align: right;
}



.wrap1 {
  width: 40rpx;
  height: 40rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdd9a32ea0bca7fd462fd0c40010408a18ce95133893832bfc26458e434a2087a) -2rpx -2rpx
    no-repeat;
}

.box12{
	width: 700rpx;
	margin: auto;
	margin-top: 20rpx;
	background-color: #00000008;
	padding: 20rpx 90rpx 10rpx 90rpx;
	border-radius: 300rpx;
}

.info11 {
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 40rpx;
  margin: 0 10rpx;
}

.wrap2 {
  width: 12rpx;
  height: 52rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb3a2812668c70265238795d3b4d5c3a24b3e7db8a2078e909ca92723869a2810)
    100% no-repeat;
}

.wrap3 {
  width: 40rpx;
  height: 40rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge2aa24c63ca73c0de48129f1e6dd58cee335ed2bb1523377f27785544adea5d1) -2rpx -2rpx
    no-repeat;
}

.pic2 {
  width: 700rpx;
  height: 178rpx;
  align-self: center;
  margin-top: 30rpx;
}

.word10 {
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 28rpx;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 40rpx;
  text-align: right;
}

.word11 {
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: right;
  margin-left: 454rpx;
}

.icon13 {
  z-indexbak: 214;
  width: 14rpx;
  height: 24rpx;
  margin: 6rpx 0 0 6rpx;
}

.layer4 {
  height: 196rpx;
  border-radius: 8px;
  width: 340rpx;
  padding-top: 16rpx;
  position: relative;
  border: #00000020 solid 2rpx;
  margin: 10rpx auto;
}

.layer5 {
  z-indexbak: 204;
  width: 120rpx;
  height: 34rpx;
  border-radius: 0 8.5px 8.5px 0;
  background-color: rgba(238, 132, 105, 1);
}

.txt14 {
  z-indexbak: 206;
  position: absolute;
  left: 2rpx;
  top: 18rpx;
  /* width: 80rpx; */
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  letter-spacing: -0.23484833538532257px;
  line-height: 28rpx;
  text-align: right;
}

.word12 {
  z-indexbak: 208;
  width: 168rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: right;
}

.info12 {
  z-indexbak: 209;
  width: 168rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
}

.box16 {
  z-indexbak: auto;
  width: 476rpx;
  height: 28rpx;
  margin-left: 38rpx;
}

.txt15 {
  z-indexbak: 210;
  width: 350rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  /* text-align: right; */
}

.word13 {
  z-indexbak: 211;
  width: 350rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  /* text-align: right; */
}

.box17 {
  z-indexbak: auto;
  margin: 30rpx 0 0 38rpx;
}

.word14 {
  z-indexbak: 165;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 28rpx;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 40rpx;
  text-align: left;
}

.word15 {
  z-indexbak: 194;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: right;
}

.label9 {
  z-indexbak: 195;
  width: 14rpx;
  height: 24rpx;
  margin: 12rpx 0 0 6rpx;
}

.box18 {
  border-radius: 8px;
  width: 94%;
  margin: auto;
  align-self: left;
  
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-box{
	margin: 10rpx 0;
	width: 100%;
}


.layer6 {
  z-indexbak: auto;
  padding: 25rpx;
  /* width: 272rpx; */
  /* height: 112rpx; */
}

.main1 {
  z-indexbak: auto;
  width: 266rpx;
  /* height: 36rpx; */
}

.word16 {
  z-indexbak: 172;
  width: 182rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 26rpx;
  line-height: 36rpx;
  text-align: left;
}

.section6 {
  z-indexbak: 173;
  width: 60rpx;
  height: 30rpx;
  border-radius: 4px;
  background-color: rgba(230, 241, 253, 1);
  text-align: center;
}

.info13 {
  z-indexbak: 170;
  /* width: 272rpx; */
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  margin-top: 6rpx;
}

.txt16 {
  z-indexbak: 169;
  /* width: 110rpx; */
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  align-self: flex-start;
  margin-top: 6rpx;
}

.word17 {
  z-indexbak: 174;
  display: block;
  overflow-wrap: break-word;
  color: rgba(122, 159, 200, 1);
  font-size: 20rpx;
  line-height: 28rpx;
}

.block1 {
  z-indexbak: auto;
  width: 272rpx;
  height: 112rpx;
}

.group2 {
  z-indexbak: auto;
  width: 236rpx;
  height: 36rpx;
}

.txt17 {
  z-indexbak: 181;
  width: 182rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 26rpx;
  line-height: 36rpx;
  text-align: left;
}

.outer3 {
  z-indexbak: 182;
  width: 48rpx;
  height: 30rpx;
  border-radius: 4px;
  background-color: rgba(230, 241, 253, 1);
}

.word18 {
  z-indexbak: 179;
  width: 272rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  margin-top: 6rpx;
}

.word19 {
  z-indexbak: 178;
  width: 110rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  align-self: flex-start;
  margin-top: 6rpx;
}

.txt18 {
  z-indexbak: 183;
  position: absolute;
  left: 354rpx;
  top: 42rpx;
  width: 40rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(122, 159, 200, 1);
  font-size: 20rpx;
  letter-spacing: -0.23484833538532257px;
  line-height: 28rpx;
  text-align: left;
}


.section7 {
  z-indexbak: auto;
  width: 272rpx;
  height: 112rpx;
}

.box21 {
  z-indexbak: auto;
  width: 236rpx;
  height: 36rpx;
}

.word20 {
  z-indexbak: 190;
  width: 182rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 26rpx;
  line-height: 36rpx;
  text-align: left;
}

.layer7 {
  z-indexbak: 191;
  width: 48rpx;
  height: 30rpx;
  border-radius: 4px;
  background-color: rgba(230, 241, 253, 1);
}

.info14 {
  z-indexbak: 188;
  width: 272rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  margin-top: 6rpx;
}

.word21 {
  z-indexbak: 187;
  width: 110rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  align-self: flex-start;
  margin-top: 6rpx;
}

.txt19 {
  z-indexbak: 192;
  position: absolute;
  left: 354rpx;
  top: 42rpx;
  width: 40rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(122, 159, 200, 1);
  font-size: 20rpx;
  letter-spacing: -0.23484833538532257px;
  line-height: 28rpx;
  text-align: left;
}



.box22 {
  z-indexbak: auto;
  width: 596rpx;
  height: 186rpx;
  margin: 18rpx 0 0 130rpx;
}

.pic3 {
  z-indexbak: 219;
  width: 120rpx;
  height: 120rpx;
  margin-top: 36rpx;
}

.img1 {
  z-indexbak: 231;
  width: 220rpx;
  height: 186rpx;
}

.img2 {
  z-indexbak: 245;
  width: 220rpx;
  height: 186rpx;
}

.box23 {
  z-indexbak: auto;
  width: 644rpx;
  height: 72rpx;
  margin: 14rpx 0 0 30rpx;
}

.txt21 {
  z-indexbak: 259;
  width: 192rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
}

.word22 {
  z-indexbak: 261;
  width: 202rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
}

.txt22 {
  z-indexbak: 263;
  width: 168rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
}

.box24 {
  width: 696rpx;
  /* height: 186rpx; */
  margin: 20rpx 0 0 28rpx;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.pic4 {
  z-indexbak: 224;
  width: 220rpx;
  height: 186rpx;
}

.pic5 {
  z-indexbak: 238;
  width: 220rpx;
  height: 186rpx;
}

.pic6 {
  z-indexbak: 252;
  width: 220rpx;
  height: 186rpx;
}

.box25 {
  z-indexbak: auto;
  width: 644rpx;
  height: 72rpx;
  margin: 14rpx 0 0 28rpx;
}

.word23 {
  z-indexbak: 260;
  width: 192rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
}

.txt23 {
  z-indexbak: 262;
  width: 202rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
}

.word24 {
  z-indexbak: 264;
  width: 168rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: left;
}

.box26 {
  z-indexbak: 266;
  height: 68rpx;
  border-radius: 17px;
  background-color: rgba(249, 249, 249, 1);
  align-self: center;
  margin-top: 32rpx;
  width: 684rpx;
  padding-right: 118rpx;
}

.layer8 {
  z-indexbak: auto;
  width: 434rpx;
  height: 52rpx;
}

.section8 {
  z-indexbak: 274;
  width: 24rpx;
  height: 24rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdd9a32ea0bca7fd462fd0c40010408a18ce95133893832bfc26458e434a2087a) -2rpx -2rpx
    no-repeat;
  margin-top: 12rpx;
}

.info15 {
  width: 44rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  letter-spacing: -0.2583331763744354px;
  line-height: 32rpx;
  text-align: right;
  margin: 8rpx 0 0 8rpx;
}

.section9 {
  width: 2rpx;
  height: 52rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb3a2812668c70265238795d3b4d5c3a24b3e7db8a2078e909ca92723869a2810)
    100% no-repeat;
  margin-left: 134rpx;
}

.section10 {
  width: 24rpx;
  height: 26rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge2aa24c63ca73c0de48129f1e6dd58cee335ed2bb1523377f27785544adea5d1) -2rpx -2rpx
    no-repeat;
  margin: 12rpx 0 0 122rpx;
}

.word25 {
  width: 66rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 0.99);
  font-size: 22rpx;
  letter-spacing: -0.2583331763744354px;
  line-height: 32rpx;
  text-align: right;
  margin: 8rpx 0 0 10rpx;
}

.box27 {
	width: 700rpx;
	margin: 30rpx auto 0 auto;
}

.txt24 {
  z-indexbak: 280;
  width: 138rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 28rpx;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 40rpx;
  text-align: left;
}

.info16 {
  z-indexbak: 309;
  width: 96rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 24rpx;
  line-height: 34rpx;
  text-align: right;
  margin: 6rpx 0 0 434rpx;
}

.label10 {
  z-indexbak: 310;
  width: 14rpx;
  height: 24rpx;
  margin: 12rpx 0 0 6rpx;
}

.box28 {
  z-indexbak: auto;
  margin: 30rpx 0 0 28rpx;
}
.my-box2{
	
}

.main2 {
  flex: 1;
  width: 146rpx;
  height: 194rpx;
  border-radius: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge12de35a7bb5a8059f8ef36b4ecd060b58f59a459760bb82740b32a9af9a29f9)
    100% no-repeat;
}

.main3 {
  z-indexbak: auto;
  margin-top: 20rpx;
  flex: 1;
}

.info17 {
  z-indexbak: 286;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 26rpx;
  line-height: 36rpx;
  text-align: left;
  align-self: flex-start;
}

.word26 {
  z-indexbak: 284;
  display: block;
  word-wrap: break-word;
  word-break: normal;
  /* overflow-wrap: break-word; */
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  align-self: flex-start;
  margin-top: 6rpx;
}

.layer9 {
  z-indexbak: auto;
  width: 534rpx;
  height: 32rpx;
  margin: 38rpx 0 0 4rpx;
}

.word27 {
  z-indexbak: 287;
  /* width: 94rpx; */
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
}


.box29 {
  width: 702rpx;
  height: 2rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngacc08cfeead25bc0b60666a3d779a0be0b6ea8db98fa7f9cd99da5c45d843ecb)
    100% no-repeat;
  align-self: flex-end;
  margin: 20rpx 20rpx 0 0;
}


.bd9 {
  width: 146rpx;
  height: 194rpx;
  border-radius: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng993f1deb07b7c244024e3d82d0da9aa4ccf8210097559a5362a00bcd827218d1)
    100% no-repeat;
}

.bd10 {
  width: 538rpx;
  height: 174rpx;
  margin-top: 20rpx;
}

.info18 {
  z-indexbak: 295;
  width: 182rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 26rpx;
  line-height: 36rpx;
  text-align: left;
  align-self: flex-start;
}

.word29 {
  z-indexbak: 293;
  width: 514rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  align-self: flex-start;
  margin-top: 6rpx;
}

.group3 {
  z-indexbak: auto;
  width: 534rpx;
  height: 32rpx;
  margin: 38rpx 0 0 4rpx;
}

.word30 {
  z-indexbak: 296;
  width: 94rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
}

.info19 {
  width: 66rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
}

.box31 {
  width: 702rpx;
  height: 2rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngacc08cfeead25bc0b60666a3d779a0be0b6ea8db98fa7f9cd99da5c45d843ecb)
    100% no-repeat;
  align-self: center;
  margin-top: 20rpx;
}

.box32 {
  width: 698rpx;
  height: 194rpx;
  margin: 20rpx 0 0 28rpx;
}

.group4 {
  width: 146rpx;
  height: 194rpx;
  border-radius: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8705b4a009d725259a495f03a65ac267306c80488ef96240e1391480470e0098)
    100% no-repeat;
}

.group5 {
  width: 538rpx;
  height: 174rpx;
  margin-top: 20rpx;
}

.txt25 {
  width: 182rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 26rpx;
  line-height: 36rpx;
  text-align: left;
  align-self: flex-start;
}

.info20 {
  z-indexbak: 302;
  width: 514rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
  align-self: flex-start;
  margin-top: 6rpx;
}

.outer4 {
  z-indexbak: auto;
  width: 534rpx;
  height: 32rpx;
  margin: 38rpx 0 0 4rpx;
}

.txt26 {
  z-indexbak: 305;
  width: 94rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
}

.info21 {
  z-indexbak: 306;
  width: 66rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22rpx;
  line-height: 32rpx;
  text-align: left;
}

.box33 {
  z-indexbak: 307;
  width: 702rpx;
  height: 2rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngacc08cfeead25bc0b60666a3d779a0be0b6ea8db98fa7f9cd99da5c45d843ecb)
    100% no-repeat;
  align-self: flex-end;
  margin: 20rpx 20rpx 0 0;
}


.outer6 {
  z-indexbak: 171;
  width: 146rpx;
  height: 194rpx;
  border-radius: 8px 0 0 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga9b567a77f066f5947e9bb060d4c6eb43cb83f3f80d41e8bae635fcf2f30110e)
    100% no-repeat;
}

.outer7 {
  z-indexbak: 180;
  position: absolute;
  left: 26rpx;
  top: 2602rpx;
  width: 146rpx;
  height: 194rpx;
  border-radius: 8px 0 0 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5a43173eb000f88c4c8592eac0e3902c09de57c7f57c7251f64997c3959d9450)
    100% no-repeat;
}

.outer8 {
  z-indexbak: 189;
  position: absolute;
  left: 26rpx;
  top: 2816rpx;
  width: 146rpx;
  height: 194rpx;
  border-radius: 8px 0 0 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng0f118e9b72f66a24ea5f5c7468c51a484b2b50f4e0ae707750390a409c823166)
    100% no-repeat;
}

.outer9 {
  z-indexbak: 223;
  position: absolute;
  left: 30rpx;
  top: 3122rpx;
  width: 186rpx;
  height: 186rpx;
  border-radius: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb37ac0106b22bbde4fb219c1349974b7c11068bb65284b3cb0293f7c40b0cdee)
    100% no-repeat;
}

.outer10 {
  z-indexbak: 315;
  position: absolute;
  left: 0;
  top: 4548rpx;
  width: 750rpx;
  height: 2rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd1a038cfdba3515095c8880ed1b7e28ed3fc224746eb85b46fb5276390dc78f3)
    100% no-repeat;
}

.outer11 {
  z-indexbak: 393;
  height: 104rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng132c722e21e6304e8a3c66871da57307040ca3b6145e863030edbe79ac5d813e)
    0rpx -2rpx no-repeat;
  width: 316rpx;
  position: absolute;
  left: 218rpx;
  top: 4536rpx;
  padding: 0 0 10rpx 6rpx;
}

.section11 {
  z-indexbak: auto;
  width: 226rpx;
  height: 62rpx;
}

.mod2 {
  z-indexbak: 421;
  height: 62rpx;
  border-radius: 50%;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng567081f3ab8f6d60e99fc02203f8e93313aea8f518dd3ae3f234bf214d24abcf)
    100% no-repeat;
  width: 62rpx;
}

.icon14 {
  z-indexbak: 422;
  width: 62rpx;
  height: 62rpx;
}

.mod3 {
  z-indexbak: auto;
  width: 160rpx;
  height: 32rpx;
  margin-top: 18rpx;
}

.img4 {
  z-indexbak: 423;
  width: 140rpx;
  height: 4rpx;
  align-self: flex-end;
}

.txt27 {
  z-indexbak: 424;
  width: 140rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
  align-self: flex-start;
}

.label11 {
  z-indexbak: 425;
  position: absolute;
  left: 6rpx;
  top: 32rpx;
  width: 64rpx;
  height: 64rpx;
}

.outer12 {
  z-indexbak: 312;
  height: 148rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdaf8eb7b19388d1de342567232202be32a548204c5c56b532604496dcd6e85f2)
    100% no-repeat;
  width: 750rpx;
  position: absolute;
  left: 0;
  top: 4550rpx;
}


.outer14 {
  z-indexbak: auto;
  width: 562rpx;
  height: 34rpx;
  margin: 6rpx 0 0 98rpx;
}

.word31 {
  z-indexbak: 323;
  width: 40rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(98, 106, 255, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
}

.word32 {
  z-indexbak: 324;
  width: 40rpx;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: right;
  margin-top: 6rpx;
}

.outer15 {
  z-indexbak: auto;
  width: 270rpx;
  height: 8rpx;
  margin: 26rpx 0 0 240rpx;
}

.outer16 {
  z-indexbak: 322;
  width: 270rpx;
  height: 8rpx;
  border-radius: 2px;
  background-color: rgba(24, 24, 24, 1);
}

.outer17 {
  z-indexbak: 318;
  height: 36rpx;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5628bf4d9afb2a17e104ff33b16d6abbe581e14d061abea76bd0ce24dbb12e55) -2rpx -2rpx
    no-repeat;
  width: 32rpx;
  position: absolute;
  left: 102rpx;
  top: 22rpx;
  padding: 0 10rpx 6rpx 0;
}

.group6 {
  z-indexbak: 321;
  width: 4rpx;
  height: 8rpx;
  border-radius: 1px;
  background-color: rgba(236, 94, 93, 1);
}

.outer18 {
  z-indexbak: 327;
  position: absolute;
  left: 620rpx;
  top: 20rpx;
  width: 40rpx;
  height: 40rpx;
  border: 1.5px solid rgba(51, 51, 51, 1);
  border-radius: 50%;
}
