html {
  font-size: 37.5px;
}

.page {
  z-index: 1;
  position: relative;
  width: 10rem;
  height: 62.64rem;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  padding-top: 0;
}

.outer1 {
  z-index: auto;
  width: 10rem;
  height: 61.014rem;
}

.box1 {
  z-index: 3;
  height: 5.52rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4d3649d88e6056c407c92e053917c94e1ed659b60c67e900e66636ed5cb14db1)
    100% no-repeat;
  width: 10rem;
}

.outer2 {
  z-index: 4;
  height: 5.52rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng739a97c16ea356b3acafae05ca17309219e105dc29ffd29dba73a1d782e16e62)
    100% no-repeat;
  width: 10rem;
  position: relative;
}

.section1 {
  z-index: auto;
  width: 8.907rem;
  height: 0.56rem;
  margin: 0.4rem 0 0 0.72rem;
}

.info1 {
  z-index: 357;
  width: 0.774rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.4rem;
  letter-spacing: -0.23999999463558197px;
  font-family: Helvetica;
  line-height: 0.534rem;
  text-align: left;
}

.label1 {
  z-index: 354;
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.054rem 0 0 0.027rem;
}

.box2 {
  z-index: 340;
  height: 0.56rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4384bdb1fc01bace2dd7a85ed046e693c1d7791f59a3658529f666a8a4fe4aad)
    0rem 0rem no-repeat;
  background-size: 1.094rem 0.587rem;
  margin-left: 5.84rem;
  width: 1.094rem;
  padding-left: 0.054rem;
}

.bd1 {
  z-index: 347;
  width: 0.48rem;
  height: 0.294rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngca0c9780649fc64a60db5eef0c41063f779e80113752a3f6a4e5122561af8aa4)
    0rem -0.027rem no-repeat;
  background-size: 0.48rem 0.32rem;
}

.icon1 {
  z-index: 333;
  width: 0.72rem;
  height: 0.534rem;
  margin-left: 0.027rem;
}

.section2 {
  z-index: auto;
  width: 9.094rem;
  height: 0.8rem;
  margin: 0.534rem 0 0 0.507rem;
}

.label2 {
  z-index: 5;
  width: 0.8rem;
  height: 0.8rem;
}

.icon2 {
  z-index: 19;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0.24rem 0 0 0.987rem;
}

.txt1 {
  z-index: 24;
  width: 1.6rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.31);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: center;
  margin: 0.187rem 0 0 0.56rem;
}

.icon3 {
  z-index: 376;
  width: 0.534rem;
  height: 0.534rem;
  margin: 0.107rem 0 0 4.214rem;
}

.section3 {
  z-index: 359;
  position: absolute;
  left: 1.6rem;
  top: 1.467rem;
  width: 7.147rem;
  height: 0.8rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.box3 {
  z-index: auto;
  width: 8.4rem;
  height: 0.934rem;
  margin: 2.107rem 0 0 0.907rem;
}

.mod1 {
  z-index: 360;
  width: 0.827rem;
  height: 0.934rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5b30d3984e83d0d112e65ebd90b419bfccccfcc5d46b6e9a87c169c9f2e73caa)
    100% no-repeat;
}

.icon4 {
  z-index: 27;
  width: 0.827rem;
  height: 0.747rem;
  margin: 0.107rem 0 0 1.787rem;
}

.icon5 {
  z-index: 381;
  width: 0.827rem;
  height: 0.827rem;
  margin: 0.054rem 0 0 1.654rem;
}

.label3 {
  z-index: 370;
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.054rem 0 0 1.627rem;
}

.box4 {
  z-index: auto;
  width: 8.32rem;
  height: 0.534rem;
  margin: 0.134rem 0 0 0.827rem;
}

.txt2 {
  z-index: 369;
  width: 0.96rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.32rem;
  letter-spacing: -0.2818180024623871px;
  line-height: 0.534rem;
  text-align: right;
}

.info2 {
  z-index: 25;
  width: 0.64rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.32rem;
  letter-spacing: -0.2818180024623871px;
  line-height: 0.534rem;
  text-align: center;
}

.txt3 {
  z-index: 368;
  width: 0.64rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.32rem;
  letter-spacing: -0.2818180024623871px;
  line-height: 0.534rem;
  text-align: right;
}

.info3 {
  z-index: 26;
  width: 0.64rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.32rem;
  letter-spacing: -0.2818180024623871px;
  line-height: 0.534rem;
  text-align: center;
}

.box5 {
  z-index: 198;
  position: relative;
  width: 9.334rem;
  height: 2.374rem;
  border-radius: 4px;
  overflow: hidden;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngbb90cb34393cb4bddbc8ff931441d0f9ce5d6e1cc190d639190bd036f60d0408)
    100% no-repeat;
  align-self: center;
  margin-top: 0.347rem;
}

.pic1 {
  z-index: 199;
  position: absolute;
  left: 0;
  top: 0;
  width: 9.334rem;
  height: 2.374rem;
}

.txt4 {
  z-index: 32;
  width: 1.467rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.373rem;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 0.534rem;
  text-align: right;
  align-self: flex-start;
  margin: 0.56rem 0 0 0.507rem;
}

.box6 {
  z-index: auto;
  width: 8.934rem;
  height: 2.8rem;
  margin: 0.32rem 0 0 0.507rem;
}

.bd2 {
  z-index: 35;
  height: 2.8rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc714ac831da43f34896f1c341c00372f2e496810bf9ac0fe658cece36efd7891)
    100% no-repeat;
  width: 2.8rem;
  padding: 0 0 0.027rem 0.107rem;
}

.layer1 {
  z-index: auto;
  width: 2.48rem;
  height: 0.374rem;
}

.label4 {
  z-index: 38;
  width: 0.187rem;
  height: 0.214rem;
  margin-top: 0.08rem;
}

.info4 {
  z-index: 42;
  width: 0.667rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: left;
  margin-left: 0.054rem;
}

.label5 {
  z-index: 43;
  width: 0.24rem;
  height: 0.214rem;
  margin: 0.08rem 0 0 0.8rem;
}

.info5 {
  z-index: 50;
  width: 0.48rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
  margin-left: 0.054rem;
}

.bd3 {
  z-index: 52;
  height: 2.8rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng1f2fffdc4b516bf05b99fbbd32c3cfbf5f35bbdd7b49d8207baae548fa97a368)
    100% no-repeat;
  width: 2.8rem;
  padding: 0 0 0.027rem 0.107rem;
}

.section4 {
  z-index: auto;
  width: 2.48rem;
  height: 0.374rem;
}

.label6 {
  z-index: 55;
  width: 0.187rem;
  height: 0.214rem;
  margin-top: 0.08rem;
}

.txt5 {
  z-index: 59;
  width: 0.667rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: left;
  margin-left: 0.054rem;
}

.icon6 {
  z-index: 60;
  width: 0.24rem;
  height: 0.214rem;
  margin: 0.08rem 0 0 0.8rem;
}

.txt6 {
  z-index: 67;
  width: 0.48rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
  margin-left: 0.054rem;
}

.bd4 {
  z-index: 69;
  height: 2.8rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2cb083547476afca329e406cdd438ef5f327798ebcf5b20a092789a452669f59)
    100% no-repeat;
  width: 2.8rem;
  padding: 0 0 0.027rem 0.107rem;
}

.group1 {
  z-index: auto;
  width: 2.48rem;
  height: 0.374rem;
}

.icon7 {
  z-index: 72;
  width: 0.187rem;
  height: 0.214rem;
  margin-top: 0.08rem;
}

.txt7 {
  z-index: 76;
  width: 0.667rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: left;
  margin-left: 0.054rem;
}

.icon8 {
  z-index: 77;
  width: 0.24rem;
  height: 0.214rem;
  margin: 0.08rem 0 0 0.8rem;
}

.txt8 {
  z-index: 84;
  width: 0.48rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
  margin-left: 0.054rem;
}

.box7 {
  z-index: auto;
  width: 9.067rem;
  height: 0.454rem;
  margin: 0.187rem 0 0 0.507rem;
}

.txt9 {
  z-index: 85;
  width: 1.6rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: right;
}

.word1 {
  z-index: 86;
  width: 2.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
  margin-left: 1.467rem;
}

.word2 {
  z-index: 87;
  width: 2.88rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
  margin-left: 0.56rem;
}

.box8 {
  z-index: auto;
  width: 7.334rem;
  height: 0.374rem;
  margin: 0.054rem 0 0 0.587rem;
}

.info6 {
  z-index: 88;
  width: 1.227rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: right;
}

.word3 {
  z-index: 89;
  width: 1.227rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: right;
}

.info7 {
  z-index: 90;
  width: 1.227rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: right;
}

.box9 {
  z-index: auto;
  width: 8.934rem;
  height: 2.8rem;
  margin: 0.4rem 0 0 0.454rem;
}

.bd5 {
  z-index: 93;
  height: 2.8rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2b999d608ddf0e6953c53ea1c862b2a9899b8a56925d7f544e65e3e9b4a27811)
    100% no-repeat;
  width: 2.8rem;
  padding: 0 0 0.027rem 0.107rem;
}

.bd6 {
  z-index: auto;
  width: 2.48rem;
  height: 0.374rem;
}

.label7 {
  z-index: 96;
  width: 0.187rem;
  height: 0.214rem;
  margin-top: 0.08rem;
}

.txt10 {
  z-index: 100;
  width: 0.667rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: left;
  margin-left: 0.054rem;
}

.label8 {
  z-index: 101;
  width: 0.24rem;
  height: 0.214rem;
  margin: 0.08rem 0 0 0.8rem;
}

.word4 {
  z-index: 108;
  width: 0.48rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
  margin-left: 0.054rem;
}

.bd7 {
  z-index: 110;
  height: 2.8rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng48dd6b479e98b336f26d3a6f6655fd27d6173f29f46b3054b217e852b37392c7)
    100% no-repeat;
  width: 2.8rem;
  padding: 0 0 0.027rem 0.107rem;
}

.layer2 {
  z-index: auto;
  width: 2.48rem;
  height: 0.374rem;
}

.icon9 {
  z-index: 113;
  width: 0.187rem;
  height: 0.214rem;
  margin-top: 0.08rem;
}

.word5 {
  z-index: 117;
  width: 0.667rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: left;
  margin-left: 0.054rem;
}

.icon10 {
  z-index: 118;
  width: 0.24rem;
  height: 0.214rem;
  margin: 0.08rem 0 0 0.8rem;
}

.info8 {
  z-index: 125;
  width: 0.48rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
  margin-left: 0.054rem;
}

.bd8 {
  z-index: 127;
  height: 2.8rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga46644e2b842b53d4cd00e2dbd80444a1b6749a4a5ddec40cc07f1168940da97)
    100% no-repeat;
  width: 2.8rem;
  padding: 0 0 0.027rem 0.107rem;
}

.section5 {
  z-index: auto;
  width: 2.48rem;
  height: 0.374rem;
}

.icon11 {
  z-index: 130;
  width: 0.187rem;
  height: 0.214rem;
  margin-top: 0.08rem;
}

.info9 {
  z-index: 134;
  width: 0.667rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: left;
  margin-left: 0.054rem;
}

.icon12 {
  z-index: 135;
  width: 0.24rem;
  height: 0.214rem;
  margin: 0.08rem 0 0 0.8rem;
}

.info10 {
  z-index: 142;
  width: 0.48rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
  margin-left: 0.054rem;
}

.box10 {
  z-index: auto;
  width: 8.374rem;
  height: 0.454rem;
  margin: 0.187rem 0 0 0.507rem;
}

.word6 {
  z-index: 143;
  width: 1.6rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: right;
}

.word7 {
  z-index: 144;
  width: 2.24rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
  margin-left: 1.414rem;
}

.txt11 {
  z-index: 145;
  width: 2.24rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
  margin-left: 0.88rem;
}

.box11 {
  z-index: auto;
  width: 7.334rem;
  height: 0.374rem;
  margin: 0.054rem 0 0 0.534rem;
}

.word8 {
  z-index: 146;
  width: 1.227rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: right;
}

.txt12 {
  z-index: 147;
  width: 1.227rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: right;
}

.txt13 {
  z-index: 148;
  width: 1.227rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: right;
}

.box12 {
  z-index: 149;
  height: 0.907rem;
  border-radius: 17px;
  background-color: rgba(249, 249, 249, 1);
  align-self: center;
  margin-top: 0.4rem;
  width: 9.12rem;
  padding-right: 1.574rem;
}

.layer3 {
  z-index: auto;
  width: 5.787rem;
  height: 0.694rem;
}

.wrap1 {
  z-index: 157;
  width: 0.32rem;
  height: 0.32rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdd9a32ea0bca7fd462fd0c40010408a18ce95133893832bfc26458e434a2087a) -0.027rem -0.027rem
    no-repeat;
  background-size: 0.374rem 0.374rem;
  margin-top: 0.16rem;
}

.info11 {
  z-index: 161;
  width: 0.587rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  letter-spacing: -0.2583331763744354px;
  line-height: 0.427rem;
  text-align: right;
  margin: 0.107rem 0 0 0.107rem;
}

.wrap2 {
  z-index: 150;
  width: 0.027rem;
  height: 0.694rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb3a2812668c70265238795d3b4d5c3a24b3e7db8a2078e909ca92723869a2810)
    100% no-repeat;
  margin-left: 1.787rem;
}

.wrap3 {
  z-index: 151;
  width: 0.32rem;
  height: 0.347rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge2aa24c63ca73c0de48129f1e6dd58cee335ed2bb1523377f27785544adea5d1) -0.027rem -0.027rem
    no-repeat;
  background-size: 0.374rem 0.4rem;
  margin: 0.16rem 0 0 1.627rem;
}

.word9 {
  z-index: 162;
  width: 0.88rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 0.99);
  font-size: 0.293rem;
  letter-spacing: -0.2583331763744354px;
  line-height: 0.427rem;
  text-align: right;
  margin: 0.107rem 0 0 0.134rem;
}

.pic2 {
  z-index: 200;
  width: 9.334rem;
  height: 2.374rem;
  align-self: center;
  margin-top: 0.4rem;
}

.box13 {
  z-index: auto;
  width: 9.067rem;
  height: 0.534rem;
  margin: 0.4rem 0 0 0.507rem;
}

.word10 {
  z-index: 163;
  width: 1.467rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.373rem;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 0.534rem;
  text-align: right;
}

.word11 {
  z-index: 213;
  width: 1.28rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: right;
  margin-left: 6.054rem;
}

.icon13 {
  z-index: 214;
  width: 0.187rem;
  height: 0.32rem;
  margin: 0.08rem 0 0 0.08rem;
}

.box14 {
  z-index: auto;
  width: 9.334rem;
  height: 2.587rem;
  margin: 0.4rem 0 0 0.347rem;
}

.layer4 {
  z-index: 202;
  height: 2.614rem;
  border-radius: 8px;
  margin-right: 0.267rem;
  width: 4.534rem;
  padding-top: 0.214rem;
  position: relative;
}

.layer5 {
  z-index: 204;
  width: 1.254rem;
  height: 0.454rem;
  border-radius: 0 8.5px 8.5px 0;
  background-color: rgba(238, 132, 105, 1);
}

.txt14 {
  z-index: 206;
  position: absolute;
  left: 0.027rem;
  top: 0.24rem;
  width: 1.067rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: right;
}

.box15 {
  z-index: auto;
  width: 7.04rem;
  height: 0.454rem;
  margin: 0.187rem 0 0 0.507rem;
}

.word12 {
  z-index: 208;
  width: 2.24rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: right;
}

.info12 {
  z-index: 209;
  width: 2.24rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
}

.box16 {
  z-index: auto;
  width: 6.347rem;
  height: 0.374rem;
  margin-left: 0.507rem;
}

.txt15 {
  z-index: 210;
  width: 1.547rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
}

.word13 {
  z-index: 211;
  width: 1.547rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
}

.box17 {
  z-index: auto;
  width: 9.174rem;
  height: 0.534rem;
  margin: 0.4rem 0 0 0.507rem;
}

.word14 {
  z-index: 165;
  width: 1.467rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.373rem;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 0.534rem;
  text-align: left;
}

.word15 {
  z-index: 194;
  width: 1.28rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: right;
  margin: 0.08rem 0 0 6.16rem;
}

.label9 {
  z-index: 195;
  width: 0.187rem;
  height: 0.32rem;
  margin: 0.16rem 0 0 0.08rem;
}

.box18 {
  z-index: 168;
  height: 2.587rem;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 1);
  align-self: center;
  margin-top: 0.4rem;
  width: 9.36rem;
  padding-left: 2.16rem;
  position: relative;
}

.layer6 {
  z-index: auto;
  width: 3.627rem;
  height: 1.494rem;
}

.main1 {
  z-index: auto;
  width: 3.147rem;
  height: 0.48rem;
}

.word16 {
  z-index: 172;
  width: 2.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.346rem;
  line-height: 0.48rem;
  text-align: left;
}

.section6 {
  z-index: 173;
  width: 0.64rem;
  height: 0.4rem;
  border-radius: 4px;
  background-color: rgba(230, 241, 253, 1);
}

.info13 {
  z-index: 170;
  width: 3.627rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  margin-top: 0.08rem;
}

.txt16 {
  z-index: 169;
  width: 1.467rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  align-self: flex-start;
  margin-top: 0.08rem;
}

.word17 {
  z-index: 174;
  position: absolute;
  left: 4.72rem;
  top: 0.56rem;
  width: 0.534rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(122, 159, 200, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: left;
}

.box19 {
  z-index: 177;
  height: 2.587rem;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 1);
  align-self: center;
  margin-top: 0.267rem;
  width: 9.36rem;
  padding-left: 2.16rem;
  position: relative;
}

.block1 {
  z-index: auto;
  width: 3.627rem;
  height: 1.494rem;
}

.group2 {
  z-index: auto;
  width: 3.147rem;
  height: 0.48rem;
}

.txt17 {
  z-index: 181;
  width: 2.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.346rem;
  line-height: 0.48rem;
  text-align: left;
}

.outer3 {
  z-index: 182;
  width: 0.64rem;
  height: 0.4rem;
  border-radius: 4px;
  background-color: rgba(230, 241, 253, 1);
}

.word18 {
  z-index: 179;
  width: 3.627rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  margin-top: 0.08rem;
}

.word19 {
  z-index: 178;
  width: 1.467rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  align-self: flex-start;
  margin-top: 0.08rem;
}

.txt18 {
  z-index: 183;
  position: absolute;
  left: 4.72rem;
  top: 0.56rem;
  width: 0.534rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(122, 159, 200, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: left;
}

.box20 {
  z-index: 186;
  height: 2.587rem;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 1);
  align-self: center;
  margin-top: 0.267rem;
  width: 9.36rem;
  padding-left: 2.16rem;
  position: relative;
}

.section7 {
  z-index: auto;
  width: 3.627rem;
  height: 1.494rem;
}

.box21 {
  z-index: auto;
  width: 3.147rem;
  height: 0.48rem;
}

.word20 {
  z-index: 190;
  width: 2.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.346rem;
  line-height: 0.48rem;
  text-align: left;
}

.layer7 {
  z-index: 191;
  width: 0.64rem;
  height: 0.4rem;
  border-radius: 4px;
  background-color: rgba(230, 241, 253, 1);
}

.info14 {
  z-index: 188;
  width: 3.627rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  margin-top: 0.08rem;
}

.word21 {
  z-index: 187;
  width: 1.467rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  align-self: flex-start;
  margin-top: 0.08rem;
}

.txt19 {
  z-index: 192;
  position: absolute;
  left: 4.72rem;
  top: 0.56rem;
  width: 0.534rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(122, 159, 200, 1);
  font-size: 0.266rem;
  letter-spacing: -0.23484833538532257px;
  line-height: 0.374rem;
  text-align: left;
}

.txt20 {
  z-index: 216;
  width: 0.747rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.373rem;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 0.534rem;
  text-align: left;
  align-self: flex-start;
  margin: 0.72rem 0 0 0.507rem;
}

.box22 {
  z-index: auto;
  width: 7.947rem;
  height: 2.48rem;
  margin: 0.24rem 0 0 1.734rem;
}

.pic3 {
  z-index: 219;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 0.48rem;
}

.img1 {
  z-index: 231;
  width: 2.934rem;
  height: 2.48rem;
}

.img2 {
  z-index: 245;
  width: 2.934rem;
  height: 2.48rem;
}

.box23 {
  z-index: auto;
  width: 8.587rem;
  height: 0.96rem;
  margin: 0.187rem 0 0 0.4rem;
}

.txt21 {
  z-index: 259;
  width: 2.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
}

.word22 {
  z-index: 261;
  width: 2.694rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
}

.txt22 {
  z-index: 263;
  width: 2.24rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
}

.box24 {
  z-index: auto;
  width: 9.28rem;
  height: 2.48rem;
  margin: 0.267rem 0 0 0.374rem;
}

.pic4 {
  z-index: 224;
  width: 2.934rem;
  height: 2.48rem;
}

.pic5 {
  z-index: 238;
  width: 2.934rem;
  height: 2.48rem;
}

.pic6 {
  z-index: 252;
  width: 2.934rem;
  height: 2.48rem;
}

.box25 {
  z-index: auto;
  width: 8.587rem;
  height: 0.96rem;
  margin: 0.187rem 0 0 0.374rem;
}

.word23 {
  z-index: 260;
  width: 2.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
}

.txt23 {
  z-index: 262;
  width: 2.694rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
}

.word24 {
  z-index: 264;
  width: 2.24rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: left;
}

.box26 {
  z-index: 266;
  height: 0.907rem;
  border-radius: 17px;
  background-color: rgba(249, 249, 249, 1);
  align-self: center;
  margin-top: 0.427rem;
  width: 9.12rem;
  padding-right: 1.574rem;
}

.layer8 {
  z-index: auto;
  width: 5.787rem;
  height: 0.694rem;
}

.section8 {
  z-index: 274;
  width: 0.32rem;
  height: 0.32rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdd9a32ea0bca7fd462fd0c40010408a18ce95133893832bfc26458e434a2087a) -0.027rem -0.027rem
    no-repeat;
  background-size: 0.374rem 0.374rem;
  margin-top: 0.16rem;
}

.info15 {
  z-index: 278;
  width: 0.587rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  letter-spacing: -0.2583331763744354px;
  line-height: 0.427rem;
  text-align: right;
  margin: 0.107rem 0 0 0.107rem;
}

.section9 {
  z-index: 267;
  width: 0.027rem;
  height: 0.694rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb3a2812668c70265238795d3b4d5c3a24b3e7db8a2078e909ca92723869a2810)
    100% no-repeat;
  margin-left: 1.787rem;
}

.section10 {
  z-index: 268;
  width: 0.32rem;
  height: 0.347rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge2aa24c63ca73c0de48129f1e6dd58cee335ed2bb1523377f27785544adea5d1) -0.027rem -0.027rem
    no-repeat;
  background-size: 0.374rem 0.4rem;
  margin: 0.16rem 0 0 1.627rem;
}

.word25 {
  z-index: 279;
  width: 0.88rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 0.99);
  font-size: 0.293rem;
  letter-spacing: -0.2583331763744354px;
  line-height: 0.427rem;
  text-align: right;
  margin: 0.107rem 0 0 0.134rem;
}

.box27 {
  z-index: auto;
  width: 9.174rem;
  height: 0.534rem;
  margin: 0.427rem 0 0 0.534rem;
}

.txt24 {
  z-index: 280;
  width: 1.84rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.373rem;
  letter-spacing: -0.3287876546382904px;
  font-family: PingFangSC-Semibold;
  line-height: 0.534rem;
  text-align: left;
}

.info16 {
  z-index: 309;
  width: 1.28rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  line-height: 0.454rem;
  text-align: right;
  margin: 0.08rem 0 0 5.787rem;
}

.label10 {
  z-index: 310;
  width: 0.187rem;
  height: 0.32rem;
  margin: 0.16rem 0 0 0.08rem;
}

.box28 {
  z-index: auto;
  width: 9.307rem;
  height: 2.587rem;
  margin: 0.4rem 0 0 0.374rem;
}

.main2 {
  z-index: 285;
  width: 1.947rem;
  height: 2.587rem;
  border-radius: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge12de35a7bb5a8059f8ef36b4ecd060b58f59a459760bb82740b32a9af9a29f9)
    100% no-repeat;
}

.main3 {
  z-index: auto;
  width: 7.174rem;
  height: 2.32rem;
  margin-top: 0.267rem;
}

.info17 {
  z-index: 286;
  width: 2.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.346rem;
  line-height: 0.48rem;
  text-align: left;
  align-self: flex-start;
}

.word26 {
  z-index: 284;
  width: 6.854rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  align-self: flex-start;
  margin-top: 0.08rem;
}

.layer9 {
  z-index: auto;
  width: 7.12rem;
  height: 0.427rem;
  margin: 0.507rem 0 0 0.054rem;
}

.word27 {
  z-index: 287;
  width: 1.254rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
}

.word28 {
  z-index: 288;
  width: 0.88rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
}

.box29 {
  z-index: 289;
  width: 9.36rem;
  height: 0.027rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngacc08cfeead25bc0b60666a3d779a0be0b6ea8db98fa7f9cd99da5c45d843ecb)
    100% no-repeat;
  align-self: flex-end;
  margin: 0.267rem 0.267rem 0 0;
}

.box30 {
  z-index: auto;
  width: 9.307rem;
  height: 2.587rem;
  margin: 0.267rem 0 0 0.32rem;
}

.bd9 {
  z-index: 294;
  width: 1.947rem;
  height: 2.587rem;
  border-radius: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng993f1deb07b7c244024e3d82d0da9aa4ccf8210097559a5362a00bcd827218d1)
    100% no-repeat;
}

.bd10 {
  z-index: auto;
  width: 7.174rem;
  height: 2.32rem;
  margin-top: 0.267rem;
}

.info18 {
  z-index: 295;
  width: 2.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.346rem;
  line-height: 0.48rem;
  text-align: left;
  align-self: flex-start;
}

.word29 {
  z-index: 293;
  width: 6.854rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  align-self: flex-start;
  margin-top: 0.08rem;
}

.group3 {
  z-index: auto;
  width: 7.12rem;
  height: 0.427rem;
  margin: 0.507rem 0 0 0.054rem;
}

.word30 {
  z-index: 296;
  width: 1.254rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
}

.info19 {
  z-index: 297;
  width: 0.88rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
}

.box31 {
  z-index: 298;
  width: 9.36rem;
  height: 0.027rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngacc08cfeead25bc0b60666a3d779a0be0b6ea8db98fa7f9cd99da5c45d843ecb)
    100% no-repeat;
  align-self: center;
  margin-top: 0.267rem;
}

.box32 {
  z-index: auto;
  width: 9.307rem;
  height: 2.587rem;
  margin: 0.267rem 0 0 0.374rem;
}

.group4 {
  z-index: 303;
  width: 1.947rem;
  height: 2.587rem;
  border-radius: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8705b4a009d725259a495f03a65ac267306c80488ef96240e1391480470e0098)
    100% no-repeat;
}

.group5 {
  z-index: auto;
  width: 7.174rem;
  height: 2.32rem;
  margin-top: 0.267rem;
}

.txt25 {
  z-index: 304;
  width: 2.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(63, 63, 63, 1);
  font-size: 0.346rem;
  line-height: 0.48rem;
  text-align: left;
  align-self: flex-start;
}

.info20 {
  z-index: 302;
  width: 6.854rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
  align-self: flex-start;
  margin-top: 0.08rem;
}

.outer4 {
  z-index: auto;
  width: 7.12rem;
  height: 0.427rem;
  margin: 0.507rem 0 0 0.054rem;
}

.txt26 {
  z-index: 305;
  width: 1.254rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
}

.info21 {
  z-index: 306;
  width: 0.88rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.293rem;
  line-height: 0.427rem;
  text-align: left;
}

.box33 {
  z-index: 307;
  width: 9.36rem;
  height: 0.027rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngacc08cfeead25bc0b60666a3d779a0be0b6ea8db98fa7f9cd99da5c45d843ecb)
    100% no-repeat;
  align-self: flex-end;
  margin: 0.267rem 0.267rem 0 0;
}

.outer5 {
  z-index: 329;
  position: absolute;
  left: 0.24rem;
  top: 2.747rem;
  width: 9.52rem;
  height: 4.4rem;
  border-radius: 8px;
  overflow: hidden;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5b7c42e629f3529572e054b2d54caeb623c3092cfd1ada3c74197445b1e451a7)
    100% no-repeat;
}

.img3 {
  z-index: 330;
  position: absolute;
  left: 0;
  top: 0;
  width: 9.52rem;
  height: 4.4rem;
}

.outer6 {
  z-index: 171;
  position: absolute;
  left: 0.347rem;
  top: 31.84rem;
  width: 1.947rem;
  height: 2.587rem;
  border-radius: 8px 0 0 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga9b567a77f066f5947e9bb060d4c6eb43cb83f3f80d41e8bae635fcf2f30110e)
    100% no-repeat;
}

.outer7 {
  z-index: 180;
  position: absolute;
  left: 0.347rem;
  top: 34.694rem;
  width: 1.947rem;
  height: 2.587rem;
  border-radius: 8px 0 0 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5a43173eb000f88c4c8592eac0e3902c09de57c7f57c7251f64997c3959d9450)
    100% no-repeat;
}

.outer8 {
  z-index: 189;
  position: absolute;
  left: 0.347rem;
  top: 37.547rem;
  width: 1.947rem;
  height: 2.587rem;
  border-radius: 8px 0 0 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng0f118e9b72f66a24ea5f5c7468c51a484b2b50f4e0ae707750390a409c823166)
    100% no-repeat;
}

.outer9 {
  z-index: 223;
  position: absolute;
  left: 0.4rem;
  top: 41.627rem;
  width: 2.48rem;
  height: 2.48rem;
  border-radius: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb37ac0106b22bbde4fb219c1349974b7c11068bb65284b3cb0293f7c40b0cdee)
    100% no-repeat;
}

.outer10 {
  z-index: 315;
  position: absolute;
  left: 0;
  top: 60.64rem;
  width: 10rem;
  height: 0.027rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd1a038cfdba3515095c8880ed1b7e28ed3fc224746eb85b46fb5276390dc78f3)
    100% no-repeat;
}

.outer11 {
  z-index: 393;
  height: 1.387rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng132c722e21e6304e8a3c66871da57307040ca3b6145e863030edbe79ac5d813e)
    0rem -0.027rem no-repeat;
  background-size: 4.214rem 1.414rem;
  width: 4.214rem;
  position: absolute;
  left: 2.907rem;
  top: 60.48rem;
  padding: 0 0 0.134rem 0.08rem;
}

.section11 {
  z-index: auto;
  width: 3.014rem;
  height: 0.827rem;
}

.mod2 {
  z-index: 421;
  height: 0.827rem;
  border-radius: 50%;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng567081f3ab8f6d60e99fc02203f8e93313aea8f518dd3ae3f234bf214d24abcf)
    100% no-repeat;
  width: 0.827rem;
}

.icon14 {
  z-index: 422;
  width: 0.827rem;
  height: 0.827rem;
}

.mod3 {
  z-index: auto;
  width: 2.134rem;
  height: 0.427rem;
  margin-top: 0.24rem;
}

.img4 {
  z-index: 423;
  width: 1.867rem;
  height: 0.054rem;
  align-self: flex-end;
}

.txt27 {
  z-index: 424;
  width: 1.867rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
  align-self: flex-start;
}

.label11 {
  z-index: 425;
  position: absolute;
  left: 0.08rem;
  top: 0.427rem;
  width: 0.854rem;
  height: 0.854rem;
}

.outer12 {
  z-index: 312;
  height: 1.974rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdaf8eb7b19388d1de342567232202be32a548204c5c56b532604496dcd6e85f2)
    100% no-repeat;
  width: 10rem;
  position: absolute;
  left: 0;
  top: 60.667rem;
}

.outer13 {
  z-index: auto;
  width: 7.174rem;
  height: 0.294rem;
  margin: 0.454rem 0 0 1.467rem;
}

.block2 {
  z-index: 317;
  width: 0.294rem;
  height: 0.294rem;
  background-color: rgba(231, 232, 255, 1);
  border-radius: 50%;
}

.block3 {
  z-index: 314;
  width: 1.814rem;
  height: 0.054rem;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin: 0.16rem 0 0 2.507rem;
}

.block4 {
  z-index: 326;
  width: 0.214rem;
  height: 0.08rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng1e077fe79e94cdd1d929fa14874debf7876fbd8a7dd3a655161f25a6ba75b1b8) -0.027rem -0.054rem
    no-repeat;
  background-size: 0.294rem 0.134rem;
  margin: 0.16rem 0 0 2.347rem;
}

.outer14 {
  z-index: auto;
  width: 7.494rem;
  height: 0.454rem;
  margin: 0.08rem 0 0 1.307rem;
}

.word31 {
  z-index: 323;
  width: 0.534rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(98, 106, 255, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
}

.word32 {
  z-index: 324;
  width: 0.534rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  line-height: 0.374rem;
  text-align: right;
  margin-top: 0.08rem;
}

.outer15 {
  z-index: auto;
  width: 3.6rem;
  height: 0.107rem;
  margin: 0.347rem 0 0 3.2rem;
}

.outer16 {
  z-index: 322;
  width: 3.6rem;
  height: 0.107rem;
  border-radius: 2px;
  background-color: rgba(24, 24, 24, 1);
}

.outer17 {
  z-index: 318;
  height: 0.48rem;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5628bf4d9afb2a17e104ff33b16d6abbe581e14d061abea76bd0ce24dbb12e55) -0.027rem -0.027rem
    no-repeat;
  background-size: 0.48rem 0.534rem;
  width: 0.427rem;
  position: absolute;
  left: 1.36rem;
  top: 0.294rem;
  padding: 0 0.134rem 0.08rem 0;
}

.group6 {
  z-index: 321;
  width: 0.054rem;
  height: 0.107rem;
  border-radius: 1px;
  background-color: rgba(236, 94, 93, 1);
}

.outer18 {
  z-index: 327;
  position: absolute;
  left: 8.267rem;
  top: 0.267rem;
  width: 0.534rem;
  height: 0.534rem;
  border: 1.5px solid rgba(51, 51, 51, 1);
  border-radius: 50%;
}
